@font-face {
  font-family: Savage;
  src: url(fonts/Savage.ttf) format('truetype');
}
@font-face {
  font-family: Wreckside;
  src: url(fonts/Wreckside.otf) format('opentype');
}
@font-face {
  font-family: Brownland;
  src: url(fonts/Brownland.otf) format('opentype');
}
@font-face {
  font-family: Median;
  src: url(fonts/Median.otf) format('opentype');
}

body{
	color: black;
}
/* BARRA NAVEGADORA */
nav{
	width: 100%;
	position: fixed;
	background-color: rgba(113, 54, 138, .4);
  z-index: 50;
}
.barra{
	display: flex;
	margin-left: 3rem;
	font-family: Median;
	font-size: 1.2rem;
}
.barra a{
	margin: 1.3rem 2rem;
  font-size: 1.5rem;
	margin-left: 2.2rem;
	text-decoration: none;
	color: white;
}
.barra a:hover{
	text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 40px #fff,
               0 0 80px #fff,
               0 0 120px #fff,
               0 0 160px #fff;
}
.barra p{
	margin: 1.3rem 2rem;
  font-size: 1.5rem;
	color: #939393;
}
.menu-responsive{
  display: none;
}

/*PORTADA*/
.contenedor-portada{
	background-image: url(https://i.pinimg.com/originals/b9/c5/e5/b9c5e58543b8553bda7f17672ae39eec.gif);
	background-color: rgba(0, 0, 0, .7);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-blend-mode: soft-light;
}
.portada-texto{
	text-align: center;
	justify-content: center;
}
.portada-texto h1{
	padding-top: 21rem;
	color: white;
	font-family: Brownland;
	font-size: 9.1rem;
  margin: 0 1.3rem;
}
.portada-texto p{
  margin: 0 1.3rem;
	padding-bottom: 6rem;
	color:white;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 2rem;
}
.portada-boton{
	display: flex;
	padding-bottom: 20rem;
	justify-content: center;
}
.portada-boton a{
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 0.7rem 2.7rem;
	background-color: white;
	border-radius: 3rem;
}
.portada-boton a:hover{
	background-color: grey;
}
.mobile-portada-boton{
  display: none;
}
/*SECCIONES*/
/*SECCIONES*/
/*SECCIONES*/

.botones-mobile{
	display: flex;
	justify-content: center;
  padding-bottom: 4rem;
}
.botones-mobile a{
  text-decoration: none;
	color: black;
	text-align: center;
	padding: 0.7rem 2.7rem;
	background-color: white;
	border-radius: 3rem;
}
.botones-mobile a:hover{
	background-color: grey;
}

/*INFORMACIÓN*/
.contenedor-informacion{
	display: inline-block;
	background-image: url(https://i.pinimg.com/originals/02/87/d3/0287d3ba8b3330fca99f69e2001d3168.gif);
	background-color: rgba(0, 0, 0, .4);
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size:cover;
	background-blend-mode: soft-light;
}
.informacion-izquierda{
	margin-top: 20rem;
	margin-bottom: 2rem;
	margin-left: 5rem;
	margin-right: 50%;
}
.informacion-izquierda h2,
.informacion-izquierda h3{
	margin-bottom: 4rem;
	color: white;
	font-family: monospace;
}
.informacion-izquierda h2{
	font-weight: bolder;
	font-family: Savage;
	font-size: 2.5rem;
}
.informacion-boton{
	width: 100%;
	position: relative;
	padding-bottom: 15rem;
	display: flex;
}
.informacion-boton a{
	text-decoration: none;
	margin: 0 auto;
	color: black;
	background-color: rgba(256, 256, 256, .5);
	border-radius: 10rem;
	justify-content: center;
	font-size: 3rem;
	padding: 0.2rem 1.8rem;
}
.mobile-contenedor-informacion{
  background-color: #11001c;
  width: 100%;
  display: none;
}
.mobile-informacion-texto{
  color: white;
  font-family: monospace;
}
.mobile-informacion-texto h2{
  font-size: 2.3rem;
  margin: 1.8rem auto;
  font-family: Savage;
  text-align: center;
}
.mobile-informacion-texto h3{
  margin: 5rem 1.2rem;
  text-align: center;
}

/*candidatxs*/
.contenedor-candidatxs{
	display: inline-block;
	background-image: url(https://i.pinimg.com/originals/50/cb/5c/50cb5cd8f238944acb1d09ff181a16e6.gif);
	background-color: rgba(0, 0, 0, .8);
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size:cover;
	background-blend-mode: soft-light;
}
.candidatxs-izquierda{
	margin-top: 20rem;
	margin-bottom: 5rem;
	margin-left: 5rem;
	margin-right: 50%;
}
.candidatxs-izquierda h2,
.candidatxs-izquierda h3{
	margin-bottom: 4rem;
	color: white;
}
.candidatxs-izquierda h2{
	font-size: 2.9rem;
	font-family: Wreckside;
	font-weight: bolder;
}
.candidatxs-izquierda h3{
	font-family: monospace;
}

/*Resultados*/
.contenedor-resultados{
	display: flex;
	background-image: url(https://nexus.leagueoflegends.com/wp-content/uploads/2018/11/poros_banner-1_slno1owbdsxulmdvqomp.jpg);
	background-color: rgba(0, 0, 0, .7);
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size:cover;
	background-blend-mode: soft-light;
}

.resultados-derecha{
	margin-top: 20rem;
	margin-bottom: 20rem;
	margin-left: 50%;
	margin-right: 5rem;
	text-align: right;
	justify-content: center;
}
.resultados-derecha h2,
.resultados-derecha h3{
	font-family: monospace;
	margin-bottom: 4rem;
	color: white;
}
.resultados-derecha h2{
	font-family: Savage;
	font-size:2.2rem;
	font-weight: bolder;
}

/*FOOTER*/
/*FOOTER*/
/*FOOTER*/
footer{
	background-color: black;
	padding: 3rem;
}
.contenedor-footer{
	text-align: center;
	display: flex;
	justify-content: center;
}
.contenedor-footer p{
	color: GREY;
}

/*CANDIDATXS PAGE*/
/*CANDIDATXS PAGE*/
/*CANDIDATXS PAGE*/

.contenedor-candidatxs-p{
  background-color: white;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction:row;
}
.candidatxs{
  background-color: red;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*min-width: 500px;*/
  flex-wrap: wrap;
}
.candidatxs:first-child{
  background-image: url(imagenes/avetocand3.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
.candidatxs:nth-child(2){
  background-image: url(imagenes/maricand.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
.candidatxs:last-child{
  background-image: url(imagenes/maricand2.png);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
.candidatxs-card{
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  border-radius: 0.5rem;
}
.candidatxs-card p{
  text-align: center;
  color: white;
}
.candidatxs-imagen{
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}
.candidatxs-imagen img{
  border-radius: 5rem;
}
.candidatxs-nombre h3{
  text-align: center;
  color: white;
}
.hide-candidatxs{
  display: none;
  position: absolute;
  bottom: 2rem;
}

/*PESTAÑA RESULTADOS*/

.contenedor-resultados-p{
  width: 100%;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/02/87/d3/0287d3ba8b3330fca99f69e2001d3168.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0);
}
.contenedor-resultados-p img:first-child{
  position: absolute;
  left: 65rem;
  bottom: 0;
}
.contenedor-resultados-p img:nth-child(2){
  right: 65rem;
  position: absolute;
  bottom: 2rem;
}
.contenedor-resultados-p img:nth-child(3){
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 5rem;
}
/*#last-img{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}*/
.contenedor-porcentajes{
  width: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  border-radius: 1rem;
  padding: 2rem;
  font-weight: bolder;
}
.contenedor-porcentajes h2{
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2rem;
}
.info:not(:last-child){
  margin-bottom: 30px;
}
.porcentajes{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.menu-r{
  position: relative;
  border: 1px solid cyan;
  border-radius: 20px;

}
.menu-r div{
  position: relative;
  width: 0;
  height: 8px;
  border-radius: 10px;
  background-color: cyan;
}
.contenedor-porcentajes{
  min-width: 25rem;
}

#dino-menu{
  animation: aveto-barra 2s forwards;
}
#ginny-menu{
  animation: mari-barra 2s forwards;
}

.slider{
  display: none;
}

@keyframes aveto-barra{
  100%{
    width: 0%;
  }
}
@keyframes mari-barra{
  100%{
    width: 0%;
  }
}


/*RESPONSIVE*/
/*RESPONSIVE*/
/*RESPONSIVE*/

@media screen and (max-width:700px){
  .menu-responsive{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    z-index: 50;
  }
  .contenedor-porcentajes{min-width: 15rem;}
  .barra{
    display: none;
  }
  .portada-texto h1{
    margin: 0 1.3rem;
    padding-top: 16rem;
    font-size: 7rem;
  }
  .portada-texto p{
    margin: 0 1.3rem;
    font-size: 1.5rem;
  }
  .contenedor-informacion{
    display: none;
  }
  .mobile-contenedor-informacion{
    display: inline-block;
  }
  .contenedor-candidatxs{
    display: none;
  }
  .contenedor-resultados{
    display: none;
  }
  .mobile-portada-boton{
    display: flex;
  }
  .hide-boton{
    display: none;
  }
}
@media screen and (max-width: 1500px){
  .candidatxs{width: 100%; height: 1000px;}
  .contenedor-candidatxs-p{flex-direction: column; height: auto;}
  .candidatxs:nth-child(2){background-size: cover;}
  .hide-candidatxs{display: flex;}
  .contenedor-resultados-p img:first-child{left: 53rem;}
  .contenedor-resultados-p img:nth-child(2){right: 53rem;}
}
@media screen and (max-width: 1300px){
  .slider{display: flex;}
  /*.imagenes-resultados{display: none;}*/
  
}


.nuevos-resultados{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.contenedor-nuevos{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 10rem;
}
.contenedor-candidatx{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.foto-candidatx{
  width: 10rem;
  height: 100%;
}
.numero p{
  font-family: Median;
  color: white;
  font-size: 7rem;
}
.numero{
  margin-right: 1rem;
}